services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    user: www-data
    restart: unless-stopped
    volumes:
      - ./:/var/www/html
    networks:
      - laravel

  web:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - laravel_storage:/var/www/html/storage
    depends_on:
      - app
    networks:
      - laravel
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: BD_PI
    ports:
      - "5433:5432"
    networks:
      - laravel
    volumes:
      - pgdata:/var/lib/postgresql/data
networks:
  laravel:
    driver: bridge
volumes:
  pgdata:
  laravel_storage:
